# Bot Secrets:
secrets.json
auth.json
events.json
guild.json
kb/

# Build Artifacts:
lib/
doc/

# Bot Generated Artifacts:
a.out
.logs/

# Build Files:
package-lock.json
node_modules/
src/commands/.ccs/*.js
src/commands/.ccs/decom/

# Miscellaneous:
temp.js
test.js
*.awk
*.zip
