# Bot Secrets:
auth.json
events.json
guild.json
kb/

# Build Artifacts:
lib/

# Build Files:
package-lock.json
node_modules/
src/commands/.ccs/*.js
src/commands/.ccs/decom/

# Miscellaneous:
temp.js
test.js
